/*@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
*/
*{
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
    padding: 0;
}

/*l'entete des pages*/
.header{
    width: 100vw;
    height: 7vh;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0vw 5vw;
    
}

.header .mapersonne{
    font-weight: bold;
}
.header .menu_list{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    gap: 0;
    padding: 0;
    
}
.menu_list li{
    width: 100px;
    text-align: center;
    color: black;

}
a{
    text-decoration: none;
}
.projets,
.contact{
    border-left: 1px solid black;
    
}
/*style appliqué au corps de la page index.html*/

.home{
    width: 100%;
    height: 82vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    padding: 0 5vw;
    
}

.home-content{
    width: 65%;
    height: 75vh;
    line-height: 1.8;
    padding: 10% 0;

}
.home-content h3{
    font-size: 20px;
}
.home-content h1{
    width: 100%;
    height: 10vh;
    font-size: 4rem;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-bottom: 3vw;
}

.home-content span{
    font-weight: bold;
}

.home-content #presentation{
    width: 75%;
    font-size: 1.1em;

}
#presentation{
    letter-spacing: 1px;
}
.img_box{
    width: 35%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.img_box img{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 90%;
    margin: 0 auto;
    border-radius: 50%;
    transition: 0.3s ease;
    cursor: pointer;
}
.img_box img:hover{
    width: 440px;
    display: block;
    height: 440px;
    margin: 0 auto;
    border-radius: 50%;
    border: 5px solid black; 
}

.btn_box{
    width: 75%;
   display: flex;
   justify-content: left;
   font-size: 17px;
   gap: 4vw;
   padding: 5vh 0;

}
.btn_box button{
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
    align-items: center;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 1px solid black;
    color: black;
    font: bold;
    font-weight: 1000;
    transition: 0.3s ease;

}
.btn__yellow{
    background-color: rgb(238, 163, 2);
}
.btn__red{
    background-color: rgb(225, 59, 37);
}
.btn__blue{
    background-color: rgb(128, 216, 218);
}
.btn_box button:hover{
    background-color: rgb(227, 173, 36);
    color: white;
    border: 3px solid black;
    width: 120px;
    height: 120px;
}

/*style appliqués aux pieds des pages*/

.footer{
    display: flex;
    justify-content: space-between;
    text-align:center;
    align-items: center;
    position: relative;
    width: auto;
    height: 11vh;
    border-top: 1px solid rgb(122, 119, 119);
    margin: 0 10% 0 10%;

}

.email{
    color: black;
}

.copy h5{
    font-size: 15px;
}

.social_media a{
    margin: 5px;
}
i{
    color: black;
}

/*style apliqué au corps de la page contact*/

.section_container{
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    gap: 25em;
    padding: 30px 15% 0;
}
/*style appliqué au formulaire*/

form{
    width: 600px;
}

/*style appliqué aux champs de saisie du formulaire*/

form .input-box{
    display: flex;
    justify-content: space-between;
    gap: 0;   
}
.field .item{
    padding: 5px;
    border: 2px solid black;
    outline: none;
    font-size: 16px;
    color: black;
    margin: 11px 0;

}

/*style appliqué au bouton envoyer*/

button{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(238, 163, 2);
    border: 2px solid black;
    margin-right: 0;
    
}

#but-envoyer{
    margin-right: 0;
    width: 200px;
    height: 200px;
    padding-top: 20px;
    margin-left: 0;
}

/*style appliquer au pied de la page contact*/

.footer__contact{

    display: flex;
    justify-content: space-between;
    text-align:center;
    align-items: center;
    position: relative;
    width: auto;
    height: 11vh;
    border-top: 1px solid rgb(122, 119, 119);
    margin: 0 10% 0 10%; 
}

/*style appliqué à la page cv*/

.experience{
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 25px;
}

#cv_presentation{
    padding-left: 70px;
    padding-right: 70px;
    margin-bottom: 0px;
    width: 100%;
    height: 200vh;
}

#titre{
    font-size: 25px;
}
.experience{
    width: 100%;
    height: 40vh;
}

.experience h2{
    font-size: 25px;
    padding-left: 10px;
}

#experience1{
    line-height: 2em;
    width: 50%;
    height: 20vh;
}

.exp1{
    display: flex;
    justify-content: space-between;
}
.exp1-period{

    width: 40%;
    height: 20vh;
    display: flex;
    justify-content: center;
}


#experience2{
    line-height: 2em;
    width: 50%;
    height: 20vh;
}

.exp2{
    display: flex;
    justify-content: space-between;
}
.exp2-period{

    width: 20%;
    height: 20vh;
    display: flex;
    justify-content: center;
}


/*ggggggggggggggggg

.experience #experience1 h3{
    font-size: 18px;
    padding-left: 10px;
}
.experience #experience1 h4{
    font-size: 15px;
    padding-left: 10px;
    font-weight: normal;
}

.experience #experience1 span{
    position: absolute;
    font-size: 16px;
    top: 20%;
    right: 1vw;
}

#experience2{
    
    width: 100%;
    height: 25vh;
    line-height: 2em;
}

.experience #experience2 h3{
    font-size: 18px;
    padding-left: 10px;
}
.experience #experience2 h4{
    font-size: 15px;
    padding-left: 10px;
    font-weight: normal;
}
.experience #experience2 span{
    position: absolute;
    font-size: 16px;
    top: 65%;
    right: 1vw;
}

*/

.education{
    position: relative;
    border-top: 2px solid;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 25px;
    width: 100%;
    height: 60vh;
    
}

.education h2{
    font-size: 25px;
    padding-left: 10px;
}

.edu1{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20vh;
}
 #education1{

    width: 50%;
    height: 20vh;
    line-height: 2em;
 }

 .edu1-period{

    width: 15%;
    height: 20vh;
    display: flex;
    justify-content: right;
 }

 .edu2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20vh;
}
 #education2{

    width: 50%;
    height: 20vh;
    line-height: 2em;
 }

 .edu2-period{

    width: 15%;
    height: 20vh;
    display: flex;
    justify-content: right;
 }


 .edu3{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 20vh;
}
 #education3{

    width: 50%;
    height: 20vh;
    line-height: 2em;
 }

 .edu3-period{

    width: 15%;
    height: 20vh;
    display: flex;
    justify-content: right;
 }



/*ggggggggggggggggggg

#education1{
    line-height: 0.2;
}

.education #education1 h3{
    font-size: 18px;
    padding-left: 10px;
}
.education #education1 h4{
    font-size: 15px;
    padding-left: 10px;
    font-weight: normal;
}
.education #education1 span{
    position: absolute;
    font-size: 16px;
    top: 144px;
    right: 25px;
}

#education2{
    line-height: 0.2;
}

.education #education2 h3{
    font-size: 18px;
    padding-left: 10px;
}
.education #education2 h4{
    font-size: 15px;
    padding-left: 10px;
    font-weight: normal;
}
.education #education2 span{
    position: absolute;
    font-size: 16px;
    top: 213px;
    right: 25px;
}

#education3{
    line-height: 0.2;
}

.education #education3 h3{
    font-size: 18px;
    padding-left: 10px;
}
.education #education3 h4{
    font-size: 15px;
    padding-left: 10px;
    font-weight: normal;
}
.education #education3 span{
    position: absolute;
    font-size: 16px;
    top: 280px;
    right: 25px;
}

*/

.competence{
    position: relative;
    border-top: 2px solid;
    margin-bottom: 50px;
    padding-top: 25px;
    
}
.competence h2{
    font-size: 25px;
    padding-left: 10px;
}

.competence ul{
   
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
    line-height: 2;
}

.footer__cv{

    display: flex;
    justify-content: space-between;
    text-align:center;
    align-items: center;
    position: relative;
    width: auto;
    height: 11vh;
    border-top: 1px solid rgb(122, 119, 119);
    margin: 0 10% 0 10%; 
}

/*style appliqué à la page projet*/

.main{

    width: 100%;
    height: 190vh;
    padding: 5vh 5vw;
}

.card__img{
    width: 40vw;
    height: 40vh;
}

.card__text{
    width: 30%;
    height: 40vh;
}

.project__tittle{
    padding: 5% 0;
}
.card{

    display: flex;
    justify-content: space-between;
}
.footer__project{
    display: flex;
    justify-content: space-between;
    text-align:center;
    align-items: center;
    position: relative;
    width: auto;
    height: 11vh;
    border-top: 1px solid rgb(122, 119, 119);
    margin: 0 10% 0 10%;

   
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  
    .home{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0;
        width: 100%;
        height: 150vh;


    }

    .img_box{
        width: 100%;
        height: 50%;

    }
    .img_box img{
        height: 90%;
        width: 70%;
    }
    .home-content{
        width: 100%;
        height: 50%;
        text-align: center;
    }

    .home-content h1{
        width: 100%;
        height: 25%;
        text-align: center;
        display: block;
    
    }

    .home-content #presentation{
        width: 100%;
        height: 25%;
        text-align: center;
        padding: 0vw 10vw;

    }
    .btn_box{
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: center;

    }

    .footer{
        width: 80%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        padding: 5vh 0;
        line-height: 30px;
    }

    /*style contact page*/

    .section_container{

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 0 5vh;
    margin: 0;
    align-items: center;
    gap: 0;
    }
    .contact__container{
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: left;
        gap: 20px;
        padding-top: 80px;

    }

    .contact__phone{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    }

    .contact__mail{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
    }

    form{
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    form .input-box{
        display: flex;
        justify-content: space-between;
        gap: 10vw;
        width: 100%;
    }
    .field .item{

        width: 37vw;
    }
    .field .text-are{
        width: 37vw;
        border: solid black 2px;
    }

    form .input-box1{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: right;
        gap: 10vw;

    }
    .input-box1 #but-envoyer{

        width: 42%;
    }

    .footer__contact{

        display: flex;
        justify-content: space-between;
        text-align:center;
        align-items: center;
        font-size: 2vw;
    }

    .copy h5{

        font-size: 2vw;
    }

    /*style appliqué à la page cv*/

.experience{
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 25px;
}

#cv_presentation{

    font-size: 2vw;
}

#titre{
    font-size: 25px;
}
.experience{
    width: 100%;
    height: 40vh;
}

.experience h2{
    font-size: 25px;
    padding-left: 10px;
}

#experience1{
    line-height: 2em;
    width: 50%;
    height: 20vh;
}

.exp1{
    gap: 5%;
}
.exp1-period{

    width: 40%;
    height: 20vh;
    display: flex;
    justify-content: center;
}


#experience2{
    line-height: 2em;
    width: 50%;
    height: 20vh;
}

.exp2{
    display: flex;
    justify-content: space-between;
}
.exp2-period{

    width: 30%;
    height: 20vh;
    display: flex;
    justify-content: center;
}

.education{
    font-size: 2vw;
    
}

.footer__cv{

    display: flex;
    justify-content: space-between;
    text-align:center;
    align-items: center;
    position: relative;
    width: auto;
    height: 11vh;
    border-top: 1px solid rgb(122, 119, 119);
    margin: 0 10% 0 10%;
}

.copy h5{

    font-size: 2vw;
}

/*style appliqué à la page projet*/

.main{

    width: 100%;
    height: 140vh;
    padding: 5vh 5vw;
}

.card__img{
    width: 50vw;
    height: 25vh;
}

.card__text{
    width: 40%;
    height: 30vh;
    font-size: 2.2vw;
}

.project__tittle{
    padding: 5% 0;
}
.card{

    display: flex;
    justify-content: space-between;

}
.footer__project{

    display: flex;
    justify-content: space-between;
    text-align:center;
    align-items: center;
    position: relative;
    width: auto;
    height: 11vh;
    border-top: 1px solid rgb(122, 119, 119);
    margin: 0 10% 0 10%;
}


}

@media only screen and (max-width: 600px){
  
    .header{
        width: 100vw;
        height: 25vh;
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0vw 5vw;
        font-size: 1.5em;
        gap: 30px;
        
    }
    .mapersonne{
        width: 100%;
        text-align: center;
    }
nav{
    width: 100%;
}
.header .menu_list{
    width: 100%;
    display: flex;
    justify-content: center;

    }

    .menu_list li{

        width: 40%;
    }

    .home{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0;
        width: 100%;
        height: 200vh;
        padding-top: 10vw;


    }

    .img_box{
        width: 100%;
        height: 50%;
        align-items: center;
        display: flex;
        justify-content: center;


    }
    .img_box img{
        height: 85%;
        width: 100%;
    }
    .home-content{
        width: 100%;
        height: 60%;
        text-align: center;

    }

    .home-content h1{
        width: 100%;
        height: 20%;
        text-align: center;
        display: block;
        font-size: 3em;
    
    }

    .home-content #presentation{
        width: 100%;
        height: 25%;
        text-align: center;
        padding: 0vw 10px;
        font-size: 1em;

    }
    .btn_box{
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        padding: 10vh 0;

    }

    .btn_box button{

        width: 75px;
        height: 75px;
    }

    .footer{
        width: 100%;
        height: 55vh;
        display: flex;
        flex-direction: column;
        padding: 2vh 0;
        line-height: 30px;
        margin: 0;
        padding: 5vh 5vw;
    }

     /*style contact page*/

     .section_container{

        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 200vh;
        padding: 0 5vh;
        margin: 0;
        align-items: center;
        gap: 0;
        }
        .contact__container{
            width: 100%;
            height: 60vh;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 20px;
    
        }
    
        .contact__phone{
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 25px;
            width: 100%;
            align-items: center;
        }
    
        .contact__mail{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 25px;
            width: 100%;
        }
    
        form{
            width: 100%;
            height: 140vh;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    
        form .input-box{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 3vw;
            width: 100%;
        }
        .field .item{
    
            width: 80vw;
        }
        .field .text-are{
            width: 80vw;
            border: solid black 2px;
        }
    
        form .input-box1{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 0px;
    
        }
        .input-box1 #but-envoyer{
    
            width: 42%;
        }
        .footer__contact{

            width: 100%;
            height: 40vh;
            display: flex;
            flex-direction: column;
            padding: 2vh 0;
            line-height: 30px;
            margin: 0;
            padding: 5vh 5vw;


        }

        /*style appliqué à la page cv*/

.experience{
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 25px;
}

#cv_presentation{

    font-size: 3.5vw;
}

#titre{
    font-size: 25px;
}
.experience{
    width: 100%;
    height: 40vh;
}

.experience h2{
    font-size: 25px;
    padding-left: 10px;
}

#experience1{
    line-height: 2em;
    width: 50%;
    height: 15vh;
}

.exp1{
    display: flex;
    justify-content: right;
    flex-direction: column;
    
}
.exp1-period{

    width: 40%;
    height: 10vh;
    display: flex;
    justify-content: right;
}


#experience2{
    line-height: 2em;
    width: 50%;
    height: 15vh;
}

.exp2{
    display: flex;
    justify-content: right;
    flex-direction: column;
}
.exp2-period{

    width: 50%;
    height: 15vh;
    display: flex;
    justify-content: center;
}

.education{
    font-size: 3vw;
    
}

.edu1{
    display: flex;
    justify-content: right;
    flex-direction: column;
}

#education1{

    width: 100%;
}

.edu1-period{

    width: 100%;
}

.edu1-period p{

    width: 100%;
}
 




.edu2{
    display: flex;
    justify-content: right;
    flex-direction: column;
}

#education2{

    width: 100%;
}

.edu2-period{

    width: 100%;
}

.edu2-period p{

    width: 100%;
}



.edu3{
    display: flex;
    justify-content: right;
    flex-direction: column;
}

#education3{

    width: 100%;
}

.edu3-period{

    width: 100%;
}

.edu3-period p{

    width: 100%;
}
.footer__cv{
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    padding: 2vh 0;
    line-height: 30px;
    margin: 0;
    padding: 5vh 5vw;
}

/*style appliqué à la page projet*/

.main{

    width: 100%;
    height: 140vh;
    padding: 5vh 5vw;
}
.tittle__page h1{
    text-align: center;
}

.card__img{
    width: 100%;
    height: 25vh;
}

.card__text{
    width: 100%;
    height: 10vh;
    font-size: 2.2vw;
}

.project__tittle{
    padding: 5% 0;
}
.card{

    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;

}

.footer__project{
    width: 100%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh 0;
    line-height: 30px;
    margin: 0;
    padding: 5vh 5vw;

    
}

}